@{
    ViewData["Title"] = "Home Page";
     Layout = "Layout/_LayoutBase";
}
<link rel="stylesheet" href="~/css/jumbotron.css" asp-append-version="true" />

<div class="text-center  ms-jumbo  ">
    <h1 class="display-4">Welcome</h1>
   
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
