.ms-bg {
    
}

.ms-jumbo {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("~img/facebook.jpg");
    background-position: center;
    margin-top: 115px;
    min-height:600px
}

