
<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />

<!-- Sezione social -->
        <section>
            

            <!-- Contenuti sezione social -->
            <div class="container mb-5">
                <div class="row p5">
                    <div class="col-8 offset-2">

                    </div>
                     
                </div>
            </div>
        </section>

        <!-- Parte bassa del footer -->
        <section class="ms-bg-footer">
            <div class="container pt-5">
                <div class="row gy-4">
                    <div class="col-12 col-lg-6">
                        
                        <div class="row pt-3">
                            <div class="col mt-2">
                                <img src="img/language-globe.svg" class="ms-img-globe-text" alt="">
                                <span class="text-white ">Country / Region: Italy</span>
                                <h2 class="text-white">Seguici sui social</h2>
                            </div>
                            <div class="row row-cols-2 row-cols-sm-4 ">
                            <div class="col">
                                <a href="#">
                                    <img src="img/twitter.jpg" class="img-fluid mb-4" alt="">
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <img src="img/facebook.jpg" class="img-fluid mb-4" alt="">
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                     <img src="img/instagram.jpg" class="img-fluid mb-4" alt="">
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <img src="img/youtube.png" class="img-fluid mb-4" alt="">
                                </a>
                            </div>

                        </div>
                        </div>
                        
                    </div>
                    <div class="col-12 col-md-4 col-lg-2">
                        <ul>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                           
                        </ul>
                    </div>

                    <div class="col-12 col-md-4 col-lg-2">
                        <ul>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                        </ul>
                        
                    </div>

                    <div class="col-12 col-md-4 col-lg-2">
                        <ul>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                            <li>
                                <a class="nav-link text-white" asp-area="" asp-controller="EserciziRazor" asp-action="Index">Esercizi Razor</a>
                            </li>
                        </ul>
                    </div>

                    
                </div>
            </div>
        </section>
